@media screen and (width: 320px){
    .dropdown .dropdown-content h4{
        font-size: 12px;
    }

    .dropdown .dropdown-content{
        left: -80px;
    }

    td.bx1 a{
        font-size: 9px;
    }

    td.bx1{
        width: 20px;
        padding: 0;
    }
    .rp1 div.clp_hide{
        display: block;
        width: 100%;
    }
    /*aaaaa*/
    .col2{
        /*max-width: 10%;*/
        display: none;
    }

    .col10{
        padding-top: 50px;
        /*max-width: 90%;*/
    }

    .col2{
        display: none;
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
        display: none;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 40px;
    }
    button.btn-primary.setButton {
        width: 40px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    img.iconLogin_x{
        width: 24px;
        height: 24px;
    }
    button.dropbtn_a{
        height: 18px;
        width: 18px;
        border-radius: 10px;
    }
    div.dropdown-content1 {
        font-size: 8px;
        width: 100px;
        top: 20px;
        left: -100px;
    }
    div.dropdown-content2 {
        font-size: 8px;
        width: 100px;
        top: 20px;
        left: -100px;
        height: 350px;
    }
    img.iconBell_x{
        width: 50px;
        height: 50px;
    }
    div.ps_IconBell_x{
        top: 155px;
        left: 60px;
    }
    div.ps_lb_notification_x{
        top: 250px;
        left: 40px;
    }

    div.dropdown{
        padding-left: 7px;
    }
    .list-group li.rp_li_x{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 6px;
    }
    .rp1_2 div .btn-light{
        padding-top: 0;
        margin-top: 5px;
    }
    hr.hr0{
        max-width: 30%;
    }
    hr.hr1{
        max-width: 30%;
    }

    /*phần phổ biến*/
    div a.x_linkP2 h6{
        font-size: 11px;
        margin: 0;
    }
    div a.x_linkP2{
        font-size: 8px;
    }
    .x_linkP2 h5{
        font-size: 6px;
    }
    .x_p1 h5{
        font-size: 13px;
    }
    .x_p1 h2{
        font-size: 15px;
    }
    .x_ps_cnt h1, .x_ps_cnt h2{
        font-size: 12px;
    }

    /*phần slide*/
    .carousel-control-next{
        top:45px;
        left: 261px;
        width: 28px;
        border-radius: 28px;
        height: 28px;
    }
    .ex_Next{
        top:45px;
    }
    .list-group li.x_li_slide1,.list-group li.x_li_slide2{
        display: none;
    }
    .carousel-inner .list-group li div.a5{
        top: 70px;
        left:5px;
        right: 10px;
        font-size: 10px;
    }
    .carousel-inner .list-group li div.ex_a5{
        top: 70px;
        left:5px;
        right: 10px;
        font-size: 10px;
    }
    .carousel-inner .list-group li div h6{
        top: 82px;
        left:5px;
        right: 0;
        font-size: 5px;
    }
    .carousel-inner .list-group li img{
        height: 100px;
    }

    .row_img{
        padding-top: 50px;
    }

    .row_img img.x_img_Bg{
        height: 150px;
    }

    .x_ps_cnt{
        left: 8%;
        top: 15%;
    }

    .x_imgIcon{
        width: 8px;
        height: 8px;
    }

    .x_imgIcon{
        left: 55px;
        top:1px;
    }
}

/*định dạng chuẩn cho slide và img_bg và label trong slide từ 321 trở đi*/
@media screen and (min-width: 321px){
    /*phần phổ biến*/
    div a.x_linkP2 h6{
        font-size: 11px;
        margin: 0;
    }
    div a.x_linkP2{
        font-size: 8px;
    }
    .x_linkP2 h5{
        font-size: 6px;
    }
    .x_p1 h5{
        font-size: 13px;
    }
    .x_p1 h2{
        font-size: 15px;
    }
    .x_ps_cnt h1, .x_ps_cnt h2{
        font-size: 12px;
    }
    .list-group li.rp_li_x{
        display: none;
    }
    .list-group li.col_rp{
        display: none;
    }
    .list-group li.col_rp_col4{
        display: none;
    }
    .carousel-inner .list-group li div.a5{
        top: 70px;
        left:5px;
        right: 10px;
        font-size: 10px;
    }
    .carousel-inner .list-group li div.ex_a5{
        top: 70px;
        left:5px;
        right: 10px;
        font-size: 10px;
    }
    .carousel-inner .list-group li div h6{
        top: 82px;
        left:5px;
        right: 0;
        font-size: 5px;
    }

    .carousel-inner .list-group li img{
        height: 100px;
    }

    .list-group li.x_li_slide1,.list-group li.x_li_slide2{
        display: none;
    }

    .carousel-control-next{
        width: 28px;
        border-radius: 28px;
        height: 28px;
    }
}

@media screen and (width: 375px){
    .dropdown .dropdown-content h4{
        font-size: 12px;
    }

    .dropdown .dropdown-content{
        left: -80px;
    }

    td.bx1 a{
        font-size: 9px;
    }

    td.bx1{
        width: 20px;
        padding: 0;
    }
    .rp1 div.clp_hide{
        display: block;
        width: 100%;
    }

    .rp1 div.clp_hide{
        display: block;
        width: 100%;
    }
    /*aaaaa*/
    .col2{
        /*max-width: 10%;*/
        display: none;
    }

    .col10{
        padding-top: 50px;
        /*max-width: 90%;*/
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
       display: none;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width:40px;
    }
    button.btn-primary.setButton {
        width: 40px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    div.dropdown-content1{
        top: 30px;
        left: -260px;
        width: 320px;
    }
    div.dropdown-content2{
        left: -250px;
        width: 350px;
        height: 250px;
    }
    img.iconBell_x{
        width: 80px;
        height: 80px;
    }
    div.ps_IconBell_x{
        top: 110px;
        left: 140px;
    }
    div.ps_lb_notification_x{
        top: 190px;
        left: 80px;
    }

    .list-group li.col_rp{
        display: none;
    }

    .list-group li.col_rp_col4{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 7px;
    }
    .rp1_2 div .btn-light{
        padding-top: 2px;
    }
    hr.hr0{
        max-width: 35%;
    }
    hr.hr1{
        max-width: 32%;
    }

    /*phần slide*/
    .carousel-control-next{
        top:45px;
        left: 315px;
    }
    .ex_Next{
        top:45px;
    }

    .row_img{
        padding-top: 50px;
    }

    .row_img img.x_img_Bg{
        height: 150px;
    }

    .x_ps_cnt{
        left: 8%;
        top: 15%;
    }

    .x_imgIcon{
        width: 8px;
        height: 8px;
    }

    .x_imgIcon{
        left: 55px;
        top:1px;
    }
}

@media screen and (width: 414px){

    .rp1 div.clp_hide{
        display: block;
        width: 100%;
    }
    /*aaaaa*/
    .col2{
        /*max-width: 10%;*/
        display: none;
    }

    .col10{
        padding-top: 10px;
        /*max-width: 90%;*/
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
        width: 60px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 100px;
    }
    button.btn-primary.setButton {
        width: 30px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    div.dropdown-content2{
        left: -300px;
    }

    .col2 h6{
        display: none;
    }

    /*phần slide*/
    .carousel-control-next{
        top:45px;
        left: 355px;
    }
    .ex_Next{
        top:45px;
    }

    .row_img{
        padding-top: 50px;
    }

    .row_img img.x_img_Bg{
        height: 150px;
    }

    .x_ps_cnt{
        left: 8%;
        top: 15%;
    }

    .x_imgIcon{
        width: 8px;
        height: 8px;
    }

    .x_imgIcon{
        left: 55px;
        top:1px;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 8px;
    }
    .rp1_2 div .btn-light{
        padding-top: 0;
        margin-top: 5px;
    }
    hr.hr0{
        max-width: 30%;
    }
    hr.hr1{
        max-width: 30%;
    }
}

@media screen and (min-width: 768px){
    .rp1 div.clp_hide{
        display: block;
        width: 100%;
    }
    /*aaaaa*/
    .col2{
        /*max-width: 10%;*/
        display: none;
    }

    .col10{
        padding-top: 10px;
        /*max-width: 90%;*/
    }

    /*phần navBar*/
    .ds{
        display: block;
        font-size: 14px;
    }
    img.iconGif {
        width: 28px;
        height: 28px;
    }
    img.iconTV{
        width: 28px;
        height: 28px;
    }
    .nav-link img.iconHdn{
        display: none;
    }
    button.dropbtn {
        font-size: 10px;
        width: 80px;
    }
    input.setTfSearch {
        width: 200px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 270px;
    }
    button.btn-primary.setButton {
        width: 50px;
    }
    div.dkdn{
        padding-left: 10px;
        padding-top: 6px;
        width: 180px;
    }
    div.dropdown{
        padding-left: 10px;
    }

    /*picture bg*/
    .x_ps_cnt h1, .x_ps_cnt h2{
        font-size: 18px;
    }
    div.x_ps_cnt{
        top: 12%;
    }
    img.x_imgIcon{
        width: 12px;
        height: 12px;
        left: 84px;
        top:1px;
    }
    .row_img img.x_img_Bg{
        height: 200px;
    }

    /*phần slide*/
    .carousel-control-next{
        top:45px;
        left: 705px;
    }
    .ex_Next{
        top:45px;
    }
    .row_img{
        padding-top: 50px;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 8px;
    }
    .rp1_2 div .btn-light{
        padding-top: 0;
        margin-top: 5px;
    }
    hr.hr0{
        max-width: 30%;
    }
    hr.hr1{
        max-width: 30%;
    }
    .list-group li.x_li_slide1{
        display: block;
    }
    .list-group li.rp_li_x_a{
        display: block;
    }
    .list-group li.x_li_slide2_a{
        display: block;
    }
}

@media screen and (min-width: 940px){
    .list-group li.x_li_slide2{
        display: block;
    }
    .carousel-control-next{
        left: 850px;
    }
}

@media screen and (min-width: 1024px){
    .rp1 div.clp_hide{
        display: none;
    }
    /*aaaaa*/
    .col2{
        /*max-width: 10%;*/
        display: block;
    }

    .col10{
        padding-top: 10px;
        /*max-width: 90%;*/
    }
    /*phần image bg*/
    .x_ps_cnt h1, .x_ps_cnt h2{
        font-size: 21px;
    }
    div.x_ps_cnt{
        top: 8%;
        left: 10%;
    }

    img.x_imgIcon{
        width: 18px;
        height: 18px;
        left: 100px;
        top:1px;
    }

    .row_img img.x_img_Bg{
        height: 200px;
    }

    /*phần navBar*/
    .ds{
        font-size: 18px;
    }
    img.iconGif {
        width: 34px;
        height: 34px;
    }
    img.iconTV{
        width: 34px;
        height: 34px;
    }
    .nav-link img.iconHdn{
        display: none;
    }
    button.dropbtn {
        font-size: 18px;
        width: 200px;
    }
    input.setTfSearch {
        width: 310px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 380px;
    }
    button.btn-primary.setButton {
        width: 50px;
    }
    div.dkdn{
        padding-left: 25px;
        padding-top: 6px;
        width: 170px;
    }
    .list-group li.col_rp{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 16px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 42%;
    }
    hr.hr1{
        max-width: 39%;
    }

    /*phần slide*/
    .carousel-control-next{
        top:45px;
        left: 790px;
    }
    .ex_Next{
        top:45px;
    }

    .row_img{
        padding-top: 50px;
    }
    .list-group li.x_li_slide2{
        display: block;
    }

    .x_lb_h6{
        display: block;
    }

}

@media screen and (min-width: 1460px){

    /*phần xem thêm*/
    hr.hr0{
        max-width: 45%;
    }
    hr.hr1{
        max-width: 50%;
    }
    /*phần navbar*/
    input.setTfSearch {
        width: 550px ;
    }
    div.divSearch {
        padding: 7px 0 0 30px;
        width: 660px;
    }
    button.btn-primary.setButton {
        width: 70px;
    }

    div.dkdn{
        padding-left: 100px;
        padding-top: 6px;
        width: 290px;
    }

    .dropdown{
        padding-left: 20px;
    }

    div a.x_linkP2 h6{
        font-size: 0.9rem;
        margin: 0;
    }
    div a.x_linkP2{
        font-size: 1rem;
    }
    .x_linkP2 h5{
        font-size: 1.25rem;
    }
    .x_p1 h5{
        font-size: 1.25rem;
    }
    .x_p1 h2{
        font-size: 2rem;
    }
    .x_ps_cnt h1, .x_ps_cnt h2{
        font-size: 2.4rem;
    }

    .row_img img.x_img_Bg{
        height: 350px;
    }

    div.x_ps_cnt{
        top: 20%;
    }

    img.x_imgIcon{
        width: 28px;
        height: 28px;
        left: 175px;
    }

    .carousel-inner .list-group li img{
        height: auto;
    }

    .carousel-inner .list-group li div.a5{
        top: 200px;
        font-size: 1.25rem;
    }

    .carousel-inner .list-group li div.ex_a5{
        top: 140px;
        font-size: 1.25rem;
    }

    .carousel-inner .list-group li div h6 {
        top:165px;
        font-size: 0.7rem;
    }

    /*phần slide*/
    .carousel-control-next{
        top:108px;
        left: 1180px;
        width: 58px;
        border-radius: 55px;
        height: 58px;
    }
    .ex_Next{
        top:85px;
    }

    div.card-body{
        display: block;
    }
    .list-group li.rp_li_x{
        display: block;
    }
}

@media screen and (min-width: 1500px){
    /*phần navbar*/
    input.setTfSearch {
        width: 550px ;
    }
    div.divSearch {
        padding: 7px 0 0 30px;
        width: 660px;
    }
    button.btn-primary.setButton {
        width: 70px;
    }

    div.dkdn{
        padding-left: 200px;
        padding-top: 6px;
        width: 360px;
    }

    .dropdown{
        padding-left: 20px;
    }
    .list-group li.rp_li_x{
        display: block;
    }
}