@media screen and (width: 320px){
    div.col3_1{
        display: none;
    }

}


@media screen and (width: 414px){

    div.col3_1{
        display: none;
    }

}

@media screen and (max-width: 575px){
    div.bg{
        display: block;
    }
    div.col3{
        display: block;
    }
    a.aHome{
        display: none;
    }
    div.col3_1{
        display: none;
    }

}

@media screen  and (max-width: 567px){
    div.divImgHome1{
        padding-left: 70px;
    }
}

@media screen and (width: 768px){
    div.col4{
        display: none;
    }

    div.divImgHome{
        padding-left: 3rem;
    }

    nav.hdn{
        display: none;
    }

    nav.hdn1{
        display: block;
    }

}


@media screen and (max-width: 975px){
    div.divImgHome{
        padding-left: 70px;
    }

    nav.hdn1{
        padding-left: 70px;
    }

    div.col3_1{
        padding-left: 0;
    }

    div.col4{
        display: none;
    }

    nav.hdn{
        display: none;
    }

    nav.hdn1{
        display: block;
    }

    .imgHome{
        width: 64px;
        height: 64px;
    }

    .imgBtn{
        width: 32px;
        height: 32px;
    }
}

@media screen and (width: 1024px ){
    nav.hdn{
        display: none;
    }

    nav.hdn1{
        display: block;
    }
}

@media screen and (max-width: 1479px ){
    a.a1{
        width: 100%;
    }
    a.a2{
        width: 100%;
    }
    a.a3{
        width: 100%;
    }
    a.a4{
        width: 100%;
    }
    a.a5{
        width: 100%;
    }
    a.a6{
        width: 100%;
    }
}

@media screen and (min-width: 1519px ){
    a.a1{
        width: 35%;
    }
    a.a2{
        width: 58%;
    }
    a.a3{
        width: 76%;
    }
    a.a4{
        width: 55%;
    }
    a.a5{
        width: 40%;
    }
    a.a6{
        width: 40%;
    }
}
