@media screen and (width: 320px){

    .col2{
        max-width: 10%;
    }

    .col10{
        padding-top: 50px;
        max-width: 90%;
    }

    /*Phần slide*/
    #slider{
        display: none;
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
        display: none;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 40px;
    }
    button.btn-primary.setButton {
        width: 40px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 4px;
        width: 30px;
        height: 35px;
    }
    .list-group li.col_rp{
        display: none;
    }

    .list-group li.col_rp_col4{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 9px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 35%;
    }
    hr.hr1{
        max-width: 32%;
    }

    /*phần phổ biến*/
    div a.linkP2 h6{
        font-size: 11px;
        margin: 0;
    }
    div a.linkP2{
        font-size: 8px;
    }

    .linkP2 h5{
        font-size: 6px;
    }

    .lb_h5 h5{
        font-size: 13px;
    }


}

@media screen and (width: 375px){

    .col2{
        max-width: 10%;
    }

    .col10{
        padding-top: 50px;
        max-width: 90%;
    }

    /*Phần slide*/
    #slider{
        display: none;
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
        width: 70px;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 120px;
    }
    button.btn-primary.setButton {
        width: 40px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 4px;
        width: 30px;
        height: 35px;
    }

    .list-group li.col_rp{
        display: none;
    }

    .list-group li.col_rp_col4{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 9px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 35%;
    }
    hr.hr1{
        max-width: 32%;
    }

    /*phần phổ biến*/
    div a.linkP2 h6{
        font-size: 11px;
        margin: 0;
    }
    div a.linkP2{
        font-size: 8px;
    }

    linkP2 h5{
        font-size: 6px;
    }

    .lb_h5 h5{
        font-size: 13px;
    }


}

@media screen and (width: 414px){
    .col2{
        max-width: 9%;
    }

    .col10{
        padding-top: 50px;
        max-width: 91%;
    }

    /*Phần slide*/
    #slider{
        display: none;
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
        width: 60px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 100px;
    }
    button.btn-primary.setButton {
        width: 30px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 6px;
        width: 50px;
        height: 35px;
    }
    .list-group li.col_rp{
        display: none;
    }

    .list-group li.col_rp_col4{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 10px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 38%;
    }
    hr.hr1{
        max-width: 33%;
    }

    /*phần phổ biến*/
    div a.linkP2 h6{
        font-size: 11px;
        margin: 0;
    }
    div a.linkP2{
        font-size: 8px;
    }

    linkP2 h5{
        font-size: 6px;
    }

    .lb_h5 h5{
        font-size: 13px;
    }


}

@media screen and (max-width: 767px){
    .col2{
        max-width: 9%;
    }

    .col10{
        padding-top: 50px;
        max-width: 91%;
    }

    /*Phần slide*/
    #slider{
        display: none;
    }

    /*phần navBar*/
    .ds{
        display: none;
    }
    img.iconGif {
        width: 18px;
        height: 18px;
    }
    img.iconTV{
        width: 18px;
        height: 18px;
    }
    .nav-link img.iconHdn{
        display: block;
        height: 18px;
        width: 18px;
    }
    button.dropbtn {
        font-size: 3px;
        width: 40px;
    }
    input.setTfSearch {
        width: 60px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 100px;
    }
    button.btn-primary.setButton {
        width: 30px;
    }
    div.dkdn{
        padding-left: 20px;
        padding-top: 6px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 6px;
        width: 50px;
        height: 35px;
    }
    .list-group li.col_rp{
        display: none;
    }

    .list-group li.col_rp_col4{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 10px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 38%;
    }
    hr.hr1{
        max-width: 33%;
    }

    /*phần phổ biến*/
    div a.linkP2 h6{
        font-size: 11px;
        margin: 0;
    }
    div a.linkP2{
        font-size: 8px;
    }

    linkP2 h5{
        font-size: 6px;
    }

    .lb_h5 h5{
        font-size: 13px;
    }


}

@media screen and (min-width: 768px){

    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 850px;
        height: 45vw;
    }
    div.sl_rps #slider label{
        left: 120px;
        top: 0;
    }

    div.sl_rps #slider label  div.divSlide{
        font-size: 12px;
    }

    .col2{
        max-width: 5%;
    }

    .col10{
        padding-top: 50px;
        max-width: 95%;
    }

    /*phần navBar*/
    .ds{
        display: block;
        font-size: 14px;
    }
    img.iconGif {
        width: 28px;
        height: 28px;
    }
    img.iconTV{
        width: 28px;
        height: 28px;
    }
    .nav-link img.iconHdn{
        display: none;
    }
    button.dropbtn {
        font-size: 10px;
        width: 80px;
    }
    input.setTfSearch {
        width: 200px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 270px;
    }
    button.btn-primary.setButton {
        width: 50px;
    }
    div.dkdn{
        padding-left: 10px;
        padding-top: 6px;
        width: 180px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 10px;
        width: 70px;
        height: 35px;
    }
    .list-group li.col_rp{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 16px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 42%;
    }
    hr.hr1{
        max-width: 36%;
    }
}

@media screen and (min-width: 1024px){

    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 1000px;
        height: 35vw;
    }
    div.sl_rps #slider label{
        left: 140px;
        top: 0;
    }

    div.sl_rps #slider label  div.divSlide{
        font-size: 12px;
    }

    .col2{
        max-width: 5%;
    }

    .col10{
        padding-top: 50px;
        max-width: 95%;
    }

    /*phần navBar*/
    .ds{
        font-size: 18px;
    }
    img.iconGif {
        width: 34px;
        height: 34px;
    }
    img.iconTV{
        width: 34px;
        height: 34px;
    }
    .nav-link img.iconHdn{
        display: none;
    }
    button.dropbtn {
        font-size: 18px;
        width: 200px;
    }
    input.setTfSearch {
        width: 240px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 310px;
    }
    button.btn-primary.setButton {
        width: 50px;
    }
    div.dkdn{
        padding-left: 10px;
        padding-top: 6px;
        width: 200px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 15px;
        width: 90px;
        height: 35px;
    }
    .list-group li.col_rp{
        display: none;
    }

    /*phần xem thêm*/
    .rp1_2{
        font-size: 16px;
    }
    .rp1_2 div .btn-light{
        padding-top: 5px;
    }
    hr.hr0{
        max-width: 42%;
    }
    hr.hr1{
        max-width: 39%;
    }

    /*phần phổ biến*/
    .list-group li.col_rp_col3_a, .list-group li.col_rp_col4{
        display: block;
    }

    div.infWatchTV{
        position: absolute;
        left: 200px;
        top: 10px;
    }
    div.infWatchTV div a.linkP2 h6{
        height: 55px;
    }
}

@media screen and (min-width: 1045px){
    div.infWatchTV{
        position: absolute;
        left: 210px;
        top: 10px;
    }
}

@media screen and (min-width: 1110px){

    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 1080px;
        height: 35vw;
    }

    div.infWatchTV{
        position: absolute;
        left: 240px;
        top: 10px;
    }

    input.setTfSearch {
        width: 280px ;
    }
    div.divSearch {
        padding: 7px 0 0 10px;
        width: 340px;
    }
    button.btn-primary.setButton {
        width: 50px;
    }
    div.dkdn{
        padding-left: 60px;
        padding-top: 6px;
        width: 310px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 13px;
        width: 110px;
        height: 35px;
    }
}

@media screen and (min-width: 1240px){

    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 1080px;
        height: 30vw;
    }

    div.infWatchTV{
        position: absolute;
        left: 260px;
        top: 10px;
    }

    input.setTfSearch {
        width: 340px ;
    }
    div.divSearch {
        padding: 7px 0 0 30px;
        width: 480px;
    }
    button.btn-primary.setButton {
        width: 80px;
    }
    div.dkdn{
        padding-left: 60px;
        padding-top: 6px;
        width: 310px;
    }
    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 13px;
        width: 110px;
        height: 35px;
    }

    .list-group li.col_rp_col4, .list-group li.col_rp{
        display: block;
    }

}

@media screen and (min-width: 1350px){
    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 1150px;
        height: 30vw;
    }

    div.sl_rps #slider label{
        left: 170px;
        top: 0;
    }

    div.infWatchTV{
        left: 280px;
        top: 10px;
    }

    input.setTfSearch {
        width: 430px ;
    }
    div.divSearch {
        padding: 7px 0 0 30px;
        width: 540px;
    }
    button.btn-primary.setButton {
        width: 80px;
    }
    div.dkdn{
        padding-left: 60px;
        padding-top: 6px;
        width: 310px;
    }

    /*phần xem thêm*/
    hr.hr0{
        max-width: 43%;
    }
    hr.hr1{
        max-width: 44%;
    }
}

@media screen and (min-width: 1460px){
    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 1150px;
        height: 30vw;
    }

    div.sl_rps #slider label{
        left: 180px;
        top: 0;
    }

    div.infWatchTV{
        left: 310px;
        top: 10px;
    }
    /*phần navbar*/
    input.setTfSearch {
        width: 500px ;
    }
    div.divSearch {
        padding: 7px 0 0 30px;
        width: 600px;
    }
    button.btn-primary.setButton {
        width: 70px;
    }
    div.dkdn{
        padding-left: 75px;
        width: 340px;
    }

    button.btnDk.btn-secondary, button.btnDn.btn-info {
        font-size: 16px;
        width: 130px;
        height: 35px;
    }

    /*phần xem thêm*/
    hr.hr0{
        max-width: 45%;
    }
    hr.hr1{
        max-width: 45%;
    }
}

@media screen and (min-width: 1550px){
    /*Phần slide*/
    div.sl_rps #slider{
        perspective: 1150px;
        height: 30vw;
    }

    div.sl_rps #slider label{
        left: 190px;
        top: 0;
    }

    div.infWatchTV{
        left: 330px;
    }

}