

/*phần chứa toàn bộ slide*/
#slider {
    position: relative;
    height: 400px;
    font-family: 'Helvetica Neue', sans-serif;
    perspective: 1400px;
    transform-style: preserve-3d;
}

/*các thẻ a trong slide*/
#slider a, #slider a:hover{
    color: #e83e8c;
}

/*các thẻ a ngoại lệ trong slide*/
#slider a.btn-light, #slider a.btn-light:hover{
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 4px;
}

/*phần chứa nội dung của slide*/
#slider .divSlide{
    max-height: inherit;
    height: 100%;
    padding: 5px;
    padding-bottom: 10px;
}

/*phần tùy chỉnh trong phần nội dung*/
#slider .cnt1{
    padding: 0px;
}

/*nút chuyển slide*/
input[type=radio] {
    position: relative;
    top: 85%;
    left:50%;
    width: 18px;
    height: 12px;
    margin: 0 5px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}


input[type=radio]:nth-child(10) {
    margin-right: 0px;
}

input[type=radio]:checked {
    opacity: 1;
}

/*slide*/
#slider label {
    position: absolute;
    width: 66%;
    height: 300px;
    left: 225px;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease;
    overflow: hidden;
}

#slider label img{
    max-width: inherit;
    width: 65%;
    max-height: inherit;
    height: 100%;
    float: left
}

/*màu background của slide*/
#slide1 {
    background: #4DC7A0 ;
}

#slide2 {
    background:white;
}

#slide3 {
    background: #9fcdff;
}

#slide4 {
    background:#c08bff;
}

#slide5 {
    background:#ffaef9;
}

#slide6 {
    background:#ff91ae;
}

#slide7 {
    background:#a4b7ff;
}

#slide8 {
    background:#ba82ff;
}

#slide9 {
    background:#c9ffb9;
}

#slide10 {
    background:#ffc4a2;
}


/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5,
#s6:checked ~ #slide6, #s7:checked ~ #slide7, #s8:checked ~ #slide8, #s9:checked ~ #slide9, #s10:checked ~ #slide10
{
    box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2);
    transform: translate3d(0%, 0, 15px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide6,
#s6:checked ~ #slide7, #s7:checked ~ #slide8, #s8:checked ~ #slide9, #s9:checked ~ #slide10, #s10:checked ~ #slide1
{
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(15%, 0, -100px);
}


/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide6, #s5:checked ~ #slide7,
#s7:checked ~ #slide9, #s8:checked ~ #slide10, #s9:checked ~ #slide1, #s10:checked ~ #slide2
{
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(30%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide9, #s2:checked ~ #slide10, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3,
#s6:checked ~ #slide4, #s7:checked ~ #slide5, #s8:checked ~ #slide6, #s9:checked ~ #slide7, #s10:checked ~ #slide8
{
    box-shadow: 0 1px 4px rgba(0,0,0, 0.4);
    transform: translate3d(-30%, 0, -250px);
}

/* Previous Slide */
#s1:checked ~ #slide10, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4,
#s6:checked ~ #slide5, #s7:checked ~ #slide6, #s8:checked ~ #slide7, #s9:checked ~ #slide8, #s10:checked ~ #slide9
{
    box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2);
    transform: translate3d(-15%, 0, -100px);
}
#navigation li a{
padding: 20px 10px 10px 10px;
}
#navigation{
    margin: 0;
}
