
body{
    font-family: Abel, Arial, Verdana, sans-serif;
    font-size: 5vw;
}

.nav .nav-link{
    color: black;
}

.nav .nav-link:hover, .nav .nav-link:focus{
    color: #e83e8c;
}

.bx1 td{
    padding: 0;
}

.divSearch{
    padding: 7px 0 0 40px;
    width: 700px;
}

.setTfSearch{
    width: 500px;
    padding: 3px;
    border: 1px solid #818182;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

.setButton{
    border: 1px solid #fefefe;
    margin-left: -5px;
    outline: none;
    padding: 3px;
    width: 15%;
}

.btnDk, .btnDn{
    border: 0;
    padding: 4px;
    border-radius: 4px;
    font-weight: bolder;
}

.divImg{
    margin-bottom: 5px;
}

a img{
    max-width: inherit;
    width: 100%;
    height: 200px;
}

.fontSize_btnCtn{
    font-size: 11px;
}

.fontSize_View{
    font-size: 10px;
    padding-bottom: 4px;
}

.btnCtn{
    border: 0;
    border-radius: 10px;
    background-color:#d6d8db;
    color: #1a1a1a;
    outline: none
}
.btnCtn:hover{
    background-color: #818182;
}

.card-body h3{
    color: #e83e8c;
}

.rp1_2{
    margin-bottom: 10px;
    margin-top: 10px;
}

hr.hr0{
    float: left;
    width: 42%;
}

hr.hr1{
    float: right;
    width: 46%;
}

.rp1_2 div .btn-light{
    margin: 3px 0 0 10px;
    border: 0;
    color: #6f42c1;
    outline: none;
}

.card-body .btn_light{
    padding: 4px;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    border: 0;
    background-color:blueviolet ;
    outline: none;
}

.card-body .btn_light:hover{
    color: white;
    font-weight: bolder;
    background-color: #6f42c1;
}

.list-group-item{
    position: relative;
}



.imgW{
    width: 296.5px;
    height: 200px;
}

.col-lg-2.col2{
    position: relative;
    overflow-x: hidden ;
    overflow-y: auto;

}

/*.col-lg-2.col2_1{*/
/*    max-width: 45px;*/
/*}*/

div.divRp{
    height: 115px;
}

.divRp_1{
    padding-bottom: 25px;
}

.dkdn{
    padding: 7px 0 0 100px;
}

.lbCol2{
    position: absolute;
    left: 55px;
    font-size: 17px;
}

.rlCol2{
    position: relative;
}

.col2 div.rlCol2 a{
    color: #6f42c1;
}

.col2 div.rlCol2:hover{
    background-color: #eeeeee;
}

.col2 div.rlCol2 a:hover{
    color: #e83e8c;
}

div.rl1{
    padding: 8px 0 8px 0;
}

div.rl1 .lbCol2{
    top:10px;
}

div.rl2{
    padding: 8px 0 8px 0;
}

div.rl2 .lbCol2{
    top: 9px;
}

div.rl3{
    padding: 8px 0 8px 0;
}

div.rl3 .lbCol2{
    top: 7px;
}

.fl_Col2{
    position: relative;
    padding: 8px 0 8px 0;
}


.col2 .fl_Col2:hover{
    background-color:#eeeeee ;
}

.lb_Fl_Col2{
    position: absolute;
    top:9px;
    left: 55px;
}

.icon_PostNew{
    position: absolute;
    top:8px;
    left: 190px;
}

 .col2 div.fl_Col2 a{
    color: #6f42c1;
}

.col2 div.fl_Col2 a:hover{
    color: #e83e8c;
    text-decoration: none;
}

.labelMore{
    position: absolute;
    top:8px;
    left: 20px;
}

a div.labelMore:hover{
    color: #6f42c1;
}

.rp1 .clp_hide{
    display: none;
}

div.div_MenuNavBar_Hdn{
    position: relative;
}

div.div_Fl_MenuNavbar{
    position: relative;
}


.btn_Navbar{
    border: 1px;
    border-radius: 3px;
    width: 50px;
    height: 35px;
}

div.lb_menu_hidden_bv{
    position: absolute;
    left: 30px;
    top: 9px;
}

div.lb_menu_hidden_ls{
    position: absolute;
    left: 30px;
    top: 8px;
}

div.lb_menu_hidden_fl{
    position: absolute;
    left: 30px;
    top: 6px;
}

div.icon_MenuNavbar_Hdn{
    padding: 6px 6px 6px 0;
}

div.rps_Lb_Fl_MenuNavBar{
    position: absolute;
    top:2px;
    left: 40px;
}

ul.g{
    padding: 10px;
}

div.div_more{
    margin-left: 90px;
}

div.g1{
    color: #1a1a1a;
}
div.g1:hover{
    color: #e83e8c;
}

a.dropdown-toggle{
    color: #1a1a1a;
}
a.dropdown-toggle:hover{
    color: #e83e8c;
}

div.rps_Lb_Fl_MenuNavBar{
    color: #1a1a1a;
}
div.rps_Lb_Fl_MenuNavBar:hover{
    color: #e83e8c;
}

div.div_more{
    color: #1a1a1a;
}
div.div_more:hover{
    color: #e83e8c;
}




















