@media screen and (width: 414px) {
    div.hm{
        display: none;
    }
    div.menuCol2 {
        padding: 5px 0 5px 0;
    }
    div.col5 {
        left: 0;
        width: 670px;
    }
    div.rp1 {
        width: 670px;
    }
    div.divTrangChu {
        left: auto;
        width: 670px;
    }
    div.col-lg-4.col5_1 {
        display: none;
    }
    div.divDangBai1 {
        padding-left: 0;
    }
    li.fixItem {
        padding-left: 200px;
    }
    div.modal {
        width: 414px;
    }
    div#loginbox {
        width: 414px;
    }
    div.modal-content {
        width: 50%;
    }
    div.dropdown-content1{
        left: 1px;
    }
}

@media screen and (min-width: 1024px){
    div.menuCol2 {
        padding: 5px 0 5px 0;
    }
    div.col5 {
        left: 256px;
    }
    div.divTrangChu {
        left: 272px;
        border-right: 1px solid #818182;
        width: 425px;
    }
    div.col-lg-4.col5_1 {
        left: 684px;
    }
    div.hm{
        padding-left: 50px;
    }
    input.inpSearch1{
        width: 300px;
    }

    button.btnDangBai1{
        width: 190px;
    }
}

@media screen and (min-width: 1360px) {
    div.menuCol2 {
        padding: 5px 0 5px 60px;
    }
    div.col5 {
        left: 340px;
    }
    div.divTrangChu {
        left: 356px;
        border-right: 1px solid #818182;
        width: 565px;
    }
    div.col-lg-4.col5_1 {
        left: 907px;
    }

    div.divIconSetting {
        left: 360px;
    }
}

@media screen and (min-width: 1440px) {
    div.menuCol2 {
        padding: 5px 0 5px 0;
    }
    div.col5 {
        left: 360px;
    }
    div.divTrangChu {
        left: 376px;
        border-right: 1px solid #818182;
        width: 599px;
    }
    div.col-lg-4.col5_1 {
        left: 961px;
    }
    div.divDangBai1 {
        padding-left: 0;
    }
    div.btnPrf {
        position: absolute;
        left: -100px;
        top: 60px;
    }
    div.divIconSetting {
        left: 320px;
    }
}

@media screen and (min-width: 1519px) {
    div.menuCol2 {
        padding: 5px 0 5px 100px;
    }
    div.col5 {
        left: 379.8px;
    }
    div.divTrangChu {
        left: 396px;
        border-right: 1px solid #818182;
        width: 631.4px;
    }
    div.col-lg-4.col5_1 {
        left: 1012.8px;
    }
    div.divDangBai1 {
        padding-left: 50px;
    }
    div.btnPrf {
        position: absolute;
        left: 0;
        top: 60px;
    }
    div.divIconSetting {
        left: 414px;
    }
    input.inpSearch1{
        width: 400px;
    }
}

@media screen and (width: 2560px){
    div.col5 {
        left: 641px;
    }
    div.divTrangChu {
        left: 500px;
        border-right: 1px solid #818182;
        width: 631.4px;
    }
    div.col-lg-4.col5_1 {
        left: 1710px;
    }
}