@media screen and (width: 414px) {
    div.hm{
        display: none;
    }
    div.menuCol2 {
        padding: 5px 0 5px 0;
    }
    div.col5 {
        left: 0;
        width: 670px;
    }
    div.rp1 {
        width: 670px;
    }
    div.divTrangChu {
        left: auto;
        width: 670px;
    }
    div.col-lg-4.col5_1 {
        display: none;
    }
    div.divDangBai1 {
        padding-left: 0;
    }
    li.fixItem {
        padding-left: 200px;
    }
    div.modal {
        width: 414px;
    }
    div#loginbox {
        width: 414px;
    }
    div.modal-content {
        width: 50%;
    }
    div.dropdown-content1{
        left: 1px;
    }
}

@media screen and (min-width: 1200px) {
    div.menuCol2 {
        padding: 5px 0 5px 0;
    }
    div.col5 {
        left: 300px;
    }
    div.divTrangChu {
        left: 316px;
        border-right: 1px solid #818182;
        width: 499px;
    }
    div.col-lg-4.col5_1 {
        left: 800px;
    }
    div.divDangBai1 {
        padding-left: 0;
    }
    div.btnPrf {
        position: absolute;
        left: -100px;
        top: 60px;
    }
    div.divIconSetting {
        left: 320px;
    }
}

@media screen and (min-width: 1360px) {
    div.menuCol2 {
        padding: 5px 0 5px 40px;
    }
    div.col5 {
        left: 340px;
    }
    div.divTrangChu {
        left: 356px;
        border-right: 1px solid #818182;
        width: 565px;
    }
    div.col-lg-4.col5_1 {
        left: 906px;
    }
    div.divDangBai1 {
        padding-left: 0;
    }
    div.btnPrf {
        position: absolute;
        left: -100px;
        top: 60px;
    }
    div.divIconSetting {
        left: 375px;
    }
}

@media screen and (min-width: 1519px) {
    div.menuCol2 {
        padding: 5px 0 5px 100px;
    }
    div.col5 {
        left: 379.8px;
    }
    div.divTrangChu {
        left: 396px;
        border-right: 1px solid #818182;
        width: 631.4px;
    }
    div.col-lg-4.col5_1 {
        left: 1012.8px;
    }
    div.divDangBai1 {
        padding-left: 50px;
    }
    div.btnPrf {
        position: absolute;
        left: 0;
        top: 60px;
    }
    div.divIconSetting {
        left: 414px;
    }
}