@charset "utf-8";
/* CSS Document */
.mydivouter{
	position: relative;
}
.mydivoverlap{
    position: relative;
    z-index: 1;
}
.mybuttonoverlap1{
	position: absolute;
    z-index: 2;
    top: 10px;
    display: none;
    left: 5px;
	font-size: 100%;
}
.mybuttonoverlap2{
	position: absolute;
	top: 10px;
	display: none;
	left: 90px;
	font-size: 100%;
}.mybuttonoverlap3{
	position: absolute;
	top: 10px;
	display: none;
	left: 10px;
	font-size: 100%;
}
.mydivouter:hover .mybuttonoverlap1 { 
	display:block;
}
.mydivouter:hover .mybuttonoverlap2 { 
	display:block;
}.mydivouter:hover .mybuttonoverlap3 {
	display:block;
}